{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-header"><h4 class="mb-0">Edit Profile</h4></div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-brand">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
